{% extends 'core/base.html'%}

{% block title %}Contacto | La Caffettiera{% endblock  %}

{% block content %}
    <section class="page-section about-heading">
        <div class="container">
          <div class="about-heading-content mbtm">
            <div class="row">
              <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5 forced">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{page.title}}</span>
                  </h2>
                  <div class="section-content">
                      {{page.content|safe}}<!-- |linebreaks para saltos de linea si on estamos utilizando el editor ckeditor -->
                      {% if user.is_authenticated %}
                        <p><a href="{% url 'admin:pages_page_change' page.id %}" class="btn btn-info">Editar</a></p>
                                    <!-- Con este codigo hacemos referencia a un path de las url, de la url admin usamos la app pages
                                    con modelo page y la accion es change clase 48-->
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock  %}